<b>Login Page!</b>
<center>
        <font size="4" color="black" face="consolas">Sign in</font><br>
        <form action="/login/check/" method="post">{% csrf_token %}
            <p><input name="username" type="text" placeholder="Username"></p>
            <p><input name="password" type="password" placeholder="Password"></p>
            <p><input type="submit" value="Log in"></p>
        </form>
</center>